language: php
php:
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'
  - nightly

matrix:
    fast_finish: true
    allow_failures:
        - php: nightly
        
sudo: false
env:
before_script:
  - composer install

script:
  - vendor/bin/phpunit
