parameters:
    bootstrapFiles:
        - ./vendor/autoload.php

    fileExtensions:
        - php

    level: max

    paths:
        - bin
        - examples
        - perf
        - src
        - test

    parallel:
        maximumNumberOfProcesses: 5
